*{
        color: black;
        background-color: #FFC8C8;
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
        font-weight: 600;
}
#Heading{

        font-weight: 900;}
#introduction{
        text-transform: capitalize;
}
#hobbies{
        text-transform: capitalize;
}
#feedback{
        text-transform: capitalize;
}
#achievements{
        text-transform: capitalize;
}